body {
    margin: auto;
    width: 100%;	
}

.header {
	text-align: left;
	background: #D1C9A2;
	color: #D1C9A2;
	height: 0;
	background-size: 100% 300px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
} 


