body {
    margin: 60px auto;
    width: 70%;	
}

.header-container {
	background-color: #D1C9A2;
}   

nav ul, footer ul {
    font-family:'forum';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #D1C9A2;
}

a:hover {
    text-decoration: underline;
	color: #D1C9A2;
}

h1 {
    font-size: 3em;
    font-family:'forum';
	background-color: #D1C9A2;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #D1C9A2;
    font-size: .8em;
    background: #D1C9A2;  
}

ul.posts { 
    margin: 5px auto 5px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

		
