

.header {
  background-color: #D1C9A2;
  padding: 20px;
  text-align: left;	
  font-size: 12px;
} 

.center {
  margin: auto;
  width: 60%;
  border: 3px solid #D1C9A2;
  padding: 10px;
}

h1 {
   color: #000;
}

p { 
  text-align: center;
}
body {
    margin: auto;
    width: 100%;	
  color: #000;
}
